*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    height: 1000px;
}

.resume{
    position: relative;
    display: grid;
    grid-auto-flow: row;
}

.resume .fio{
    height: 300px;
    background: #142850;
    color: #EEEEEE;
    font-weight: 200;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.resume input[type=checkbox] {
    display: none;
}

.resume .fio .photo_fio{
    display: none;
}

.resume .fio h1{
    margin-top: 100px;
    margin-left: 50%;
    font-size: 52px;
}

.resume .fio h2{
    margin-left: 50%;
    font-size: 36px;
}

.resume .visitka{
    position: absolute;
    display: block;
    background-color: #27496D;
    color: white;
    width: 30%;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
    height: 1150px;
    transition: all 0.3s linear; 
}

.resume .visitka:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(34, 25, 165, 0.349);
}

.resume .visitka .photo{
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 60%;
    border-radius: 100%; 
    border: 10px solid #142850; 
    animation: ava 1.5s infinite;
}

@keyframes ava {
	0% {
		box-shadow: 0 0 0 0 rgba(21, 153, 230, 0.4);
	}
	70% {
		box-shadow: 0 0 0 20px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}

.resume .visitka p{
    font-size: 26px;
    margin-left: 30px;
}

.resume .visitka .contacts, .myself, .languages{
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    font-size: 20px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.resume .visitka .contacts img {
    margin-right: 15px;
}

.resume .info{
    display: grid;
    grid-auto-flow: column;
    column-gap: 120px;
    font-size: 20px;
    margin-top: 50px;
    padding-right: 100px;
}

.resume .info .empty{
    width: 500px;
}

.resume .info .information .header{
    color: white;
    background-color: #27496D;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.resume .info .information .panel {
    display: none;
    overflow: hidden;
}

.resume .info .information .name{
    font-size: 24px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');